<html lang="en">
  <head>
    <title>Book Search & Recommendations</title>
    <meta name="description" content="Book Search Recommendations">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Book Search & Recommendations!
      </h1>
    </header>
    <main role="main">
      <p class="bold">Type in the name of a book in the text box, and click search! Google Books will return a list of books based on what you searched for. Find a book you would like a similar recommendation for, and click the recommendation button. The TasteDive API will then compare your book name against other books, and return similar results.</p>
      <form action="#" class="js-search-form">
        <label for="query"></label>
        <input type="text" placeholder="Type Here" id="js-search-input">
        <button type="submit">Search</button>
      </form>
      <div hidden id="js-results-box">
        <h2 id="results-title">Results</h2>
        <div class="js-search-results"></div>
        <div class="js-recommend-results"></div>
      </div>
      <div id="popup-modal" class="modal hidden">
        <div class="modal-box right-modal">
          <span id="close-feedback-modal" class="close-button">X</span>
          <div class="js-recommend-section scroll">
            <h2>
              <a class="js-recommend-name modal-name" href="" target="_blank"></a>
            </h2>
            <br />
            <span class="js-recommend-info modal-text"></span>
           </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>